body {
    margin: 0;
    background-image: url("image/background.png");
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}
*{
    box-sizing: border-box;
}
input {
    display: none;
}

.text-mem {
    font-family: "Andale Mono", sans-serif;
    font-size: 22px;
    opacity: 0;
    z-index: 0;
    transform: translateX(400px);

    top:0;
    display: none;
}

.text-controls {
    display: flex;
    margin: 0 10rem;
    justify-content: space-between;
}

.container-slider {
    width: 80%;
    height: 84%;
    margin: 4% auto;
    position: relative;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    border-radius: 10px;
    padding-top: 1rem;
    background-color: rgba(255, 255, 255, 0.6);
}

.container-slides {
    width: 100%;
    height: 85%;
    align-items: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.slides {
    height: 70%;
    display: flex;
    opacity: 0;
    position: fixed;
    width: 64em;
    border-radius: 10px;
    z-index: 0;
    transform: translateX(400px);
    transition: transform ease-in-out .5s, opacity ease-in-out .5s;
    flex-direction: column;
    align-items: center;
    align-content: center;
    overflow: hidden;

}

img {
    width:  100%;
height: 100%;
    border-radius: 10px;
}

.controls {
    display: flex;
    justify-content: center;
    position: relative;

    z-index: 5;
}

label {
    cursor: pointer;
    display: inline-block;
    height: 12px;
    margin: 25px 12px 0 16px;
    position: relative;
    width: 12px;
    padding: 0;
    border-radius: 50%;
    transition: background ease-in-out .5s;
}

label:after {
    border: 2px solid #014b12;
    content: " ";
    display: block;
    height: 12px;
    top: -2px;
    left: -2px;
    position: relative;
    width: 12px;
    padding: 0;
    border-radius: 50%;
}

label:after:hover {
    border: 2px solid #329d00;
    border-radius: 50%;
}

label:hover {
    background-color: #329d00;
    transform: scale(1.5);
    transition: 0.5s;
    border-radius: 50%;
}

#slide1:checked ~ .text-controls .controls label:nth-of-type(1),
#slide2:checked ~ .text-controls .controls label:nth-of-type(2),
#slide3:checked ~ .text-controls .controls label:nth-of-type(3),
#slide4:checked ~ .text-controls .controls label:nth-of-type(4),
#slide5:checked ~ .text-controls .controls label:nth-of-type(5) {
    background-color: #085b00;
    border: #085b00;
    transform: scale(2);
    transition: 0.5s;
    position: relative;

    border-radius: 50%;
}

#slide1:checked ~ .container-slides > .slide1,
#slide2:checked ~ .container-slides > .slide2,
#slide3:checked ~ .container-slides > .slide3,
#slide4:checked ~ .container-slides > .slide4,
#slide5:checked ~ .container-slides > .slide5 {
    opacity: 2;
    z-index: 1;
    transform: translateX(0px)

}

#slide1:checked ~ .text-controls .text > .text-mem1,
#slide2:checked ~ .text-controls .text > .text-mem2,
#slide3:checked ~ .text-controls .text > .text-mem3,
#slide4:checked ~ .text-controls .text > .text-mem4,
#slide5:checked ~ .text-controls .text > .text-mem5 {
    display: block;
    opacity: 2;
    z-index: 1;
    transform: translateX(0px);
    transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}
@media (max-width:  1400px) {
    .slides{
        width: 55em;
    }
    .text-controls{
         margin: 0 7rem;
     }
}
@media (max-width: 1136px) {
    .slides{
        width: 45em}
    .text-controls{
        margin: 0 5rem;

    }
}
@media (max-width: 968px) {
    .slides{
        width: 40em;
    }
    .text-controls{
        margin: 0 3rem;
    }
}
@media (max-width: 832px) {
    .slides{
        width: 35em;
    }
    .text-controls{
        margin: 0 3rem;
    }

    .text-controls{
        flex-direction: column-reverse;

    }
    .text-mem{
        font-size: 20px;
    }
    .container-slider{
        height: 90%;
    }
}

@media (max-width: 832px){
    .slides{
        width: 75%;
    }
}
@media (max-width: 492px){
  .container-slides{
      height: 80%;
  }
    .text-mem {
        font-size: 15px;}
    label,label:after {
        width: 10px;
        height: 10px;
    }
    .slides{
        height: 50%;
    }
    .container-slider {
        height: 65%;
    }
}
@media (max-width: 320px){
    .slides {
        height: 30%;}
    .container-slider {
        height: 50%;
    }
    .container-slides {
        height: 64%;
    }
    .text-mem {
        font-size: 12px;}
}